[submodule "dependencies/span"]
	path = dependencies/span
	url = https://github.com/tcbrindle/span.git
[submodule "dependencies/bitshuffle"]
	path = dependencies/bitshuffle
	url = https://github.com/kiyo-masui/bitshuffle
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt
[submodule "dependencies/lodepng"]
	path = dependencies/lodepng
	url = https://github.com/lvandeve/lodepng
